table {
  width: 90%;
}
/*
td {
	width: 250px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

td.mat-column-descriptif {
	width: 70%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:1px;
}