<mat-toolbar>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="!(isHandset$ | async)">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Sourcing Application</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="side"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <!--[mode]="(isHandset$ | async) ? 'over' : 'side'"-->
    <mat-nav-list>
      <a mat-list-item routerLink="/search" href="#">Search</a>
      <a mat-list-item routerLink="/dataviz" href="#"><span matBadge="4" matBadgeOverlap="false" matBadgeColor="accent">Dataviz</span></a>
      <a mat-list-item routerLink="/entreprise" href="#">Entreprise</a>
      <a mat-list-item routerLink="/document" href="#">Documents</a>
    </mat-nav-list>
    <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
     <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="80%">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>