<mat-card>
	<div class="spinner-container" *ngIf="loading">
		<mat-spinner></mat-spinner>
	</div>
	<div [hidden]="loading">
		<form [formGroup]="entrepriseForm">
			<mat-card-title>
				<mat-form-field>
					<input 
					matInput placeholder="Name" 
					formControlName="entreprise"
					id="entreprise"
					class="form-control"
					[readOnly]="!edit.entreprise"
					[value]="(entreprise | async)?.entreprise"
					[class.dirty]="entrepriseForm.controls['entreprise'].dirty">
				</mat-form-field>
				<button mat-button aria-label="Update" (click)="toggleEditField('entreprise')">
					<i *ngIf="edit.entreprise" class="material-icons">done</i>
					<i *ngIf="!edit.entreprise" class="material-icons">edit</i>
				</button>
				<mat-divider></mat-divider>
			</mat-card-title>

			<mat-card-content>
				<div class="form-group">
					<mat-form-field>
						<input 
						matInput placeholder="Context" 
						formControlName="context" 
						id="context"
						class="form-control"
						value="{{ (entreprise | async)?.context}}"
						[class.dirty]="entrepriseForm.controls['context'].dirty">
					</mat-form-field>
					<button mat-button aria-label="Update" (click)="toggleEditField('context')">
					<i *ngIf="edit.context" class="material-icons">done</i>
					<i *ngIf="!edit.context" class="material-icons">edit</i>
				</button>
				</div>
				<div>
					<!-- <label>Url: </label>-->
					<a rel="noopener noreferrer" [hidden]="edit.url" target="_blank" href="http://{{ entrepriseForm.controls.url.value }}">{{  entrepriseForm.controls.url.value}}</a>
					<div class="url-editor-container">
						<mat-form-field [hidden]="!edit.url">
							<input 
								matInput placeholder="Url" 
								formControlName="url"
								id="url"
								class="form-control"
								[value]="(entreprise | async)?.url"
								[class.dirty]="entrepriseForm.controls['url'].dirty">
							</mat-form-field>
					</div>
					<button mat-button aria-label="Update" (click)="toggleEditField('url')">
						<i *ngIf="edit.url" class="material-icons">done</i>
						<i *ngIf="!edit.url" class="material-icons">edit</i>
					</button>
				</div>
				<div>
					<mat-form-field class="description">
						<mat-label>Description</mat-label>
						<textarea matInput
						formControlName="descriptif" 
						cdkTextareaAutosize
						#autosize="cdkTextareaAutosize"
						cdkAutosizeMinRows="5"
						cdkAutosizeMaxRows="15">     
					</textarea>
				</mat-form-field>
			</div>
			<div>
				<label>Keywords</label>
				<button mat-button aria-label="Add" (click)="addKeyword()">
					<i class="material-icons">add</i>
				</button>
				<mat-list>
					<div formArrayName="keywords">
						<mat-list-item  *ngFor="let keyword of keywords.controls; index as i">
							<mat-form-field>
								<input matInput placeholder="keyword" [formControlName]="i">
							</mat-form-field>
							<button mat-button aria-label="Remove" (click)="removeKeyword(i)">
								<i class="material-icons">remove</i>
							</button>
						</mat-list-item>
					</div>
				</mat-list>
				
			</div>
			<mat-divider></mat-divider>
		</mat-card-content>
		<mat-card-footer>
			<button mat-button aria-label="Update" type="submit" (click)="onSubmit(entrepriseForm.value)">Update</button>
			<button mat-button aria-label="Go Back" (click)="goBack()">Go back</button>
		</mat-card-footer>
	</form>
</div>

</mat-card>