<div *ngIf="entreprise | async">
	<!-- <form [formGroup]="entrepriseForm" (submit)="onSubmit()">
		<mat-form-field>
			<input matInput placeholder="Name">
		</mat-form-field>
	</form> -->
	<div>
		<label>Entreprise Name: </label> {{ (entreprise | async)?.entreprise}}
	</div>
	<div>
		<label>Context: </label> {{(entreprise | async)?.context}}
	</div>
	<div>
		<label>Description: </label> {{ (entreprise | async)?.descriptif}}
	</div>

	<div>
		<label>url: </label> {{ (entreprise | async)?.url}}
	</div>
 
	<hr/>
</div>

<button mat-button aria-label="Go Back" (click)="goBack()">Go back</button>