/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-blue-grey, 500);
$accent:  mat-palette($mat-blue, 500, A200, A400);
$warn:    mat-palette($mat-deep-orange, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$mat-font-family: 'Roboto sans-serif';
body {
    font-family: $mat-font-family;
    font-weight: normal;
}


.mat-row:hover {
	background-color: mat-color($accent,50);
}


.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
    color: mat-color($accent,50);
}
