
<!-- <mat-toolbar color="primary">
      <span>Sourcing</span>
    </mat-toolbar> -->
    <mat-toolbar>
    	<span>Search</span>
		<!-- This fills the remaining space of the current row -->
		  <span class="example-fill-remaining-space"></span>
    </mat-toolbar>

    <form>
      <mat-form-field>
        <input type="text" matInput [formControl]="searchCtrl" placeholder="Search">
      </mat-form-field>
      <button mat-button (click)="doSearch()" aria-label="Perform Click">Click me!</button>
    </form>

     <app-entreprise-list [list]="entreprisesObs"></app-entreprise-list>

<!--
    <ul>
      <li *ngFor="let e of entreprises">
        {{e.score}}
        {{e.entreprise}}
        {{e.descriptif}}
      </li>
    </ul>
-->